h1 {
    padding-left:10px;
    font-size: 30;
    font-weight: 500;
    color: white;
    font-family: 'Open Sans', sans-serif;
	font-style:bold;
}
body{
	margin:0;
	background-color:#e5e5e5;
}
.mainbody{
	width:68%;
	margin:auto;
	
	position:relative;
	
	
	font-family: 'Open Sans', sans-serif;
	float:right;
	border-bottom:1px solid;
	
}

td:first-child{
	width:200px;
}
.foto{
	position:relative;
	float:left;
	padding:14px;
	
	
	
	
}
table{
	position:relative;
	padding:5px;
}
h2{
	font-family: 'Open Sans', sans-serif;
	position:relative;
	
	
}
p{
	font-family: 'Open Sans', sans-serif;
}
header{
	background-color:black;
	display:block;
	overflow:hidden;
	width:40%;
	box-shadow: 5px 5px 2px #bdbdbd;
}
footer{
	background-color:black;
	overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
	
}
.desc{
	float:right;
	width:68%;
	
}
ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	position:relative;
}
li{
	float:left;
	
}
li a{
	display: inline-block;
	color: white;
	padding: 14px 16px;
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
}
i {
padding-right:5px;

}
