
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" >
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Profil</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	
	
	
	
</head>
<body style="font-family: 'Open Sans', sans-serif;">

	{% include "navbar.html" %}

	<div class="container" style="margin-top: 50px;">
		<div class="row " >
			<div class="col-sm-4 text-center">
				<div class="foto">
					<img src="{% static 'img/AU09.jpg' %}" width="300px" height="300px" >
				</div>
			</div>
			<div class="col-sm-8">
			
					<h3>Biodata</h3>
					<table >
						<tr>
							<td>Nama:</td>
							<td>Aziz Jabbar Shiddiq</td>
						</tr>
						<tr>
							<td>NPM:</td>
							<td>1906353611</td>
						<tr/>
						<tr>
							<td>Angkatan:</td>
							<td>2019</td>
						<tr/>
						<tr>
							<td>Hobi:</td>
							<td>Game, Musik, Buku, Film</td>
						</tr>
						
						<tr>
							<td>Tempat Kuliah:</td>
							<td>Fasilkom Universitas Indonesia</td>
						<tr/>
						<tr>
							<td>Riwayat Pendidikan:<br><br><br><br></td>
							<td>Universitas Indonesia (2019-Sekarang)<br>SMAN 2 Tangerang Selatan (2016-2019)
							<br>SMPN 4 Tangerang Selatan (2014-2016)<br>SDIT Darul Quran (2008-2014)
							</td>
						<tr/>
					</table>
						
						
						
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<br>
				<h4>Contact Me:</h4>
				<table style="text-align: left;">
					<tr>
						<td><i class="fa fa-phone"></i></td>
						<td>085xxxxxxxx</td>
					</tr>
					<tr>
						<td><i class="fa fa-envelope"></i></td>
						<td>azizjabbar@example.com</td>
					</tr>
					<tr>
						<td><i class="fa fa-map-marker"></i></td>
						<td>Earth</td>
					</tr>
				
				</table>
			</div>
			<div class="col-sm-8">
				<br>
				<h4>Deskripsi Diri</h4>
					<p>Saya adalah anak pertama dari 3 bersaudara, saya lahir di Jakarta, 13 Juli 2003.</p>
			</div>
		</div>
	</div>

	
	
		{% include "footer.html" %}
		
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>